@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Invites</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <p>@ViewBag.Greeting</p>
        <p>We are going to have a party! Do you want to join to us?</p>
        <a asp-action="RsvpForm">Rspv now!</a>
    </body>
</html>