@using InviteApp.Models
@model IEnumerable<PartyInvitation>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Invites</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">
        <h1>Here is the list of people attending the party!</h1>
    <table class="table table-sm table-striped table-bordered">
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
        </tr>
        @foreach(var invitation in Model)
        {
            <tr>
                <td>@invitation.Name</td>
                <td>@invitation.Email</td>
                <td>@invitation.Phone</td>
            </tr>
        }
    </table>
    </div>

</body>
</html>