@using InviteApp.Models
@model PartyInvitation
@{
    Layout = null;
}

<html>
<head>
    <title>Thanks</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <p>@Model.Name, thank you!</p>
    @if(@Model.WillAttend == true)
    {
        <p>I'm happy that you are coming!</p>
    }
    else
    {
        <p>I'm sad about it!</p>
    }
    <p>Click <a class="nav-link" asp-action="ListResponses">here</a> to see who is coming</p>

</body>
</html>